.Header {
  background-color: red;
  padding-block: 10px;
  &__Wrapper {
    display: flex;
    align-items: center;
  }
  &__Form {
    display: flex;
    flex: 1;
    &__Input {
      flex: 1;
      margin-inline: 10px;
      input {
        border: none;
        height: 30px;
        padding: 5px;
        width: 100%;
        border-radius: 3px;
        &:focus {
          outline: none;
        }
      }
      p {
        font-size: 14px;
        color: #fff;
      }
    }
    &__Button {
      background-color: transparent;
      border: none;
    }
  }
}
